* {

    box-sizing: border-box;

}

 

body {

              margin-left: 0;

              background: #222;

              font-family: 'work sans', sans-serif;

              font-weight: 300;

}

 

.container {

              width: 80%;

              margin: 0 auto;

}

 

header {

              background: #55d6aa;

              width: 100%;

}

 

header::after {

              content: '';

              display: table;

              clear: both;

}

 

i {

              float: left;

              padding: 10px 0;

}

 

nav {

              float: right;

}

 

nav ul {

              margin: 0;

              padding: 0;

              list-style: none;

}

 

nav li {

              display: inline-block;

              margin-left: 70px;

              padding-top: 25px;

              position: relative;

}

 

nav a {

              color: #444;

              text-decoration: none;

              text-transform: uppercase;

}

 

nav a:hover {

              color: #000;

}

 

nav a::before {

              content: '';

              display: block;

              height: 5px;

              width: 100%;

              background: #444;

              position: absolute;

              top: 0;

              width: 0%;

              transition: all ease-in-out 250ms;

}

 

nav a:hover::before {

              width: 100%;

}

h1 {
       color: yellowgreen;
       text-align: center;
       margin-bottom: 5%;
}


form {
       width: 50%;
       float: left;
       margin-left: -15px;
}

iframe {
       width: 50%;
       margin-left: -20px;
}

footer {

              width: 100%;

              background: #55d6aa;

              padding: 10px 0px;

              text-align: center;

              position: fixed;

              left: 0;

              bottom: 0;

              text-align: center;
}

button {
       margin-left: 50px;
       max-width: 100%;
       margin-top: 20px;  
       float: left;
}

textarea {
       margin-left: 50px;
       max-width: 100%;
       width: 300px;
}